<body>
    <h1>Jan Franz Norman Olimpo</h1>
    <div>
    <form #user="ngForm">
        <label>Name:</label>
        <input class="input" type="text" placeholder="Name"  required #username="ngModel" [class.invalid]="username.invalid && username.touched" [(ngModel)]= "userName" name="userName"><br>

        <label>Age:</label>
        <input class="input" type="number" placeholder="Age" required #userage="ngModel" [class.invalid]="userage.invalid && userage.touched" [(ngModel)]= "userAge" name="userAge" ><br><br>

        <button id="btn" (click)="addUser()" *ngIf="user.valid" >Submit</button>
    </form>     
    <br>

    <table>
        <tr>
            <th>User Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            
            <td>
                <button  id="action" (click)="updateUser(user._id)">Update</button>
                |<button id="action" (click)="deleteUser(user._id)">Delete</button>
            </td>
        </tr>
    </table>  
    </div> 
</body>